/***** Classes ****/

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}

.popover {max-width:400px;}


/************************************************************

Header

*************************************************************/

header {
    border-bottom: 15px;
    background: #FFFFFF;
}


.img_responsive {
    width: auto;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-wrap {
    float: left;
    clear: none;
    padding: 0;
    margin: 0;
    display: block;
}



/************************************************************

Navagation 

*************************************************************/

.nav {
	position: relative;
	padding: 20px 0;
	margin: 0;
	text-decoration: none;	
}

ul.nav_bar {
    padding: 0;
    margin: 0;
}

.nav ul {
	margin: 0;
	padding: 2px 0;
    border-radius: 10px;
}

.nav li {
	padding: 1em;
	border: 5px;
	list-style: none;
	border-radius: 6px;
	text-align: center;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}

.nav a {
	padding: 0;
	text-decoration: none;
	font: bold;
	color: #FFF;
	background: #000;
    border-radius: 6px;
}

.nav a:hover {
	color: #000;
	background-color: #FFF;
    border-radius: 6px;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}


.nav .selected{
	color: #000;
	background-color: #FFF;
	font-weight: bold;
	border-radius: 6px;
	-moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}

/*.drpdwn_nav {*/
/*    background: #000000;*/
/*    color: #FEFEFE;*/
/*}*/


/************************************************************

Buttons 

*************************************************************/
img {
    width: 100%;
}

.btn {
    padding: 10px 12px;
    font-size: 16px;
}

form .btn_info {
    box-shadow: 1px 2px 3px #000000;
}

.nav .emergency_button {
    background: #E60000;
    color: #000;
    font: bold;
    
    border-radius: 6px;
}

.nav .emergency_button:hover {
    color: red;	
    background-color: #FFF;
	/*font-weight: bold;*/
	-moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}


.dropdown-menu-right {
  right: 70px;
  top: 25px;
  left: auto;
}

.nav .nav-collapse {
    padding-top: 6px;
}
.nav .drpdwn {
    padding: 15px 15px;
}

.dropdown-menu {
    font-size: 16px;
    color: #FFF;
}


.open .dropdown-menu {
    /*display: inline-flex;*/
    display: -webkit-inline-flex;
    margin-top: 20px;
}

.drpdwn .drpNav {
    color: #FFFFFF;
}


/************************************************************

Body:

*************************************************************/


body { 
    padding-top: 30px;
    max-width: 1025px;
    font-size: 16px;
    width: 100%;
}



.nav_container {
    width: 100%;
}
.container {
    width: 100%;
}

.heading_24_7 img {
    max-width: 100px;
}


#contactDivider {
    border-top: solid 10px;
    border-bottom: solid 10px;
    /*opacity: .10;*/
}


/************************************************************

Map: 

*************************************************************/

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/************************************************************

Contact Form: 

*************************************************************/

#SRF     {
    display: inline-block;
    background: #FF9700;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font: bold;
    border-radius: 6px;
}

#SRF:hover {
    color: #FF6500;	
    background-color: #FFF;
	/*font-weight: bold;*/
	-moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}

.srf-box {
    border-left: solid #FF6500;
    border-right: solid #FF6500;
    border-radius: 6px;
    margin-top: 25px;
}

.SRF_arrow {
    padding-top: 5px;
}

.popover-content {
    background-color: rgba(255, 151, 0, 0.8);
    
}

.contactH2 {
    padding: 0 0 10px;
    border-bottom: solid #888888;
    margin: 0 0 5px;
}

.jpInfoMedia a {
    display: inline;
}



/************************************************************

Footer

*************************************************************/

footer {
    clear: both;
}

.social-icon a {
    display: inline-block;
    padding: 0 10px;
}

footer .copyright-logo {
    min-width: 75px;
    max-width: 150px;
    width: 100%;
}

/************************************************************

Media Query : Repsonsive Web

*************************************************************/



    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
    
        /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .img_responsive {
            float: left;
            
        }
         .nav_bar {
            float: right;
            clear: none;
            padding: 10px 0px;
            margin: 0 50px 0 0;
    	    background: #FFFFFF;
        }
        
        .nav_bar a {
            display: inline;
        }
    	    
    	.nav li {    
    	    margin: 0 5px 0px 5px;
    	    padding: 0;
    	    -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;   
        }
        
        .nav li a {
            padding: 10px 16px;
            margin: auto;
        }
        
        .nav .emergency_button {
            display: inline-block;
            padding: 5px 5px;
            margin: 0;
        }

    
    }

    /* Small Devices, Tablets */
    /*@media only screen and (min-width : 768px) {*/
        
    /*}*/

        /* Extra Small Devices, Phones */ 
    @media only screen and (min-width: 651px) and (max-width: 991px) {
 
         #header img {
            float: left;
        }
        
        .jpContactInfo {
            padding: 30px;
        }
        
        ul .nav_bar {
            /*float: right;*/
            /*clear: right;*/
            padding: inherit;
            margin: 0;
    	    background: #FFFFFF;
        }
    	    
    	.nav li {    
    	    display: inline;
    	    /*margin: 0 5px;*/
    	    padding: 0;
        }
        
        .nav li a {
            display: inline;
            
        }
        
        .nav .emergency_button {
            display: inline-block;
            padding: 5px 5px;
            margin: 0;
        }

        
    }
    
        @media only screen and (min-width: 561px) and (max-width: 650px) {
 
         #header img {
            float: left;
        }
        
        .jpContactInfo {
            padding: 30px;
        }
        
        ul .nav_bar {
            float: right;
            clear: right;
            padding: inherit;
            margin: 0;
    	    background: #000000;
        }
        
    	.nav li {    
    	    display: inline;
    	    /*margin: 0 5px;*/
    	    padding: 0;
        }
        
        .nav li a {    
            display: inline;
        }
        
        .nav .emergency_button {
            display: inline-block;
            padding: 5px 5px;
            margin: 0;
        }
        
    }


    /* Custom, iPhone Retina */ 

    @media only screen and (max-width : 560px ) {
        
        .jpContactInfo {
            padding: 30px;
        }
        
        .nav {    
            position: inherit;
        	padding: 20px 20px;
        	float: none;
        }

        .nav ul {
            padding: 15px 0 0;
        }
        
        .nav li {
    	    margin: 0 5px 10px 0;
    	    padding: 0;
        }

        .nav a {
            display: block;
            padding: 20px 20px;
            margin: 0;
            
        }        
        .nav a:hover {
            font-weight: bold;
        }

    }
    
    
    /*****************************/
    
.img_responsive {
        height: auto;
        width: auto;
}    
    
.text_logo {
    display: none;
    
}



