/************************************************************

Header

*************************************************************/

.text_logo {
    /*float: right;*/
    /*margin: 0;*/
    /*display : block;*/
    /*height : 113px;*/
    text-indent : -9999px; 
}

#header {
    /*float: left;*/
    width: 100%;
    background: #FFF;
    border-bottom: 1px #DDD;
}

.img-wrap {
    width: 100%;
}

.reponsive {
    max-width: 25%;
    height: auto;
    image-orientation: auto;
}

 
header, p {
    clear: both;
}

/************************************************************



*************************************************************/












/************************************************************

Navagation 

*************************************************************/

.nav {
	position: relative;
	margin: 20px 0;
	
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	/*margin: 0 5px 10px 0;*/
	padding: 1em;
	border: 5px;
	list-style: box;
	text-align: center;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #FFF;
	background: #000;
	line-height: 90%;
}
.nav a:hover {
	color: #000;
	background-color: #FFF;
	font-weight: bold;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

}

.nav .selected{
	color: #000;
	background-color: #FFF;
	font-weight: bold;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/************************************************************

Body

*************************************************************/



/************************************************************

Contact a Plumber Form

*************************************************************/

#contact_form {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    
}

#contact_form input[type="text"],
#contact_form input[type="email"],
#contact_form input[type="tel"],
#contact_form input[type="number"],
#contact_form textarea {
    width:90%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}

/*#time_to_call,*/
/*#morning,*/
/*#afternoon,*/
/*#evening {*/
/*    display: inline;    */

}

#contact_form button[type="submit"] {
    cursor:pointer;
    width:100%;
    float: inherit;
    border:none;
    background:#000;
    background-image: linear-gradient(bottom, #999 0%, #ddd 52%);
    background-image:-moz-linear-gradient(bottom, #999 0%, #ddd 52%);
    background-image:-webkit-linear-gradient(bottom, #999 0%, #ddd 52%);
    color:#000;
    font-weight: bold;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
}




/************************************************************

Media Query : Repsonsive Web

*************************************************************/

@media screen and (min-width: 1025px){
    img.responsive {width: 375px;}
}

@media screen and (min-width: 801px){
    img.responsive {
        width: 350px;
        float: left;      
        /*width: 35%;*/
    }
     ul {
	    float: right;
	    height: 20%;
        padding: 8px 0px;
        margin: 0px 0px;
        width: 50%;
    }
	    
	.nav li {    
	    display: inline;
	    margin: 0 5px 10px 0;
	    padding: 0px;
	    /*margin: 0;*/
    }
    
    .nav a {
        display: block;
        padding: 0;
        /*width: 100%;*/
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    img.responsive {width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav a{
        display: block;
        padding: 20px;
        margin: 0;
        
    }
    .nav li {
	    margin: 0 5px 10px 0;
	    padding: 0;
    }
    
    .text_logo {display: none;}
}

img.responsive {height: auto;
    width: auto;
}